:root {
  --accent-color: #f4f4f4;
  --dark-color: #242424;
  --transition: 300ms linear;
}

/* .container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 365px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 734px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1406px;
  }
} */

/* .js-backdrop.is-hidden {
  z-index: 696969;
  width: 100%;
  height: 100%;
  background-color: #04040466;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
} */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(4, 4, 4, 0.4);
  transition: opacity var(--transition), visibility var(--transition);
}

.js-backdrop {
  z-index: 9999;
}

.exercise-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 335px;
  /* z-index: 10000; */
  padding: 40px 20px;
  border-radius: 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: var(--accent-color);
  background-color: var(--dark-color);
}

@media screen and (min-width: 768px) {
  .exercise-modal {
    width: 704px;
    padding: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .exercise-modal {
    width: 708px;
  }
}

.exercise-modal__close-btn {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 24px;
  height: 24px;
  display: block;
  background-color: transparent;
  border: none;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .exercise-modal__close-btn {
    width: 28px;
    height: 28px;
  }
}

.exercise-modal__close-icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .exercise-modal__close-btn {
    width: 28px;
    height: 28px;
  }
}

.exercise-modal__content {
  display: flex;
  flex-direction: column;
}

.exercise-modal__content {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .exercise-modal-tumb {
    display: flex;
    flex-direction: row;
    gap: 28px;
  }
}

.exercise-modal__title {
  margin-bottom: 0;

  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

@media screen and (min-width: 768px) {
  .exercise-modal__title {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.33;
  }
}

.exercise-modal-rating {
  display: flex;
  gap: 2px;
  align-items: center;
}

.exercise-modal-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .exercise-modal-list {
    gap: 16px;
  }
}

.exercise-modal-list__title {
  font-style: 12px;
  line-height: 1.5;
  color: var(--accent-color);
  opacity: 0.4;
}

.exercise-modal-list__text,
.exercise-modal__description {
  color: var(--accent-color);
  font-weight: 500;
  line-height: 1.28;
  color: var(--accent-color);
}

.exercise-modal__description {
  opacity: 0.6;
}

.exercise-modal-button {
  display: flex;
}

.exercise-modal-favorite {
  border-radius: 30px;
  display: flex;
  justify-content: center;
}
